<!DOCTYPE html>
<html>
  <head>
    <title>Robot Controller</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Robot Controller</h1>
    <p>Robot Controller</p>

  <form action="values" method="post">
    <label for="seedType">Seed Type:</label><input type="text" value="<%=seedType%>" name="seedType"/>
    <label for="sectionDistance">Section Distance:</label><input type="text" value="<%=sectionDistance%>" name="sectionDistance"/>
    <label for="totalDistance">Total Distance:</label><input type="text" value="<%=totalDistance%>" name="totalDistance"/>
    <input type="submit" value="Calibrate" />
  </form>
  </body>
</html>
