<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Amics Tech Login</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->

    <!-- styles -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" >

</head>
<body>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4" align="center">
            <img src="http://placehold.it/300x200"/>
            <h2>Dashboard</h2>
        </div>
        <div class="col-md-4" align="center">
            <img src="http://placehold.it/300x200"/>
            <h2>Leaderboard</h2>
        </div>
        <div class="col-md-4" align="center">
            <img src="http://placehold.it/300x200"/>
            <h2>Challenges</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" align="center">
            <img src="http://placehold.it/300x200"/>
            <h2>Progress</h2>
        </div>
        <div class="col-md-4" align="center">
            <img src="http://placehold.it/300x200"/>
            <h2>Help</h2>
        </div>
        <div class="col-md-4" align="center">
            <img src="http://placehold.it/300x200"/>
            <h2>Settings</h2>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 AMICS, Inc.</p>
    </footer>
</div> <!-- /container -->


</body>
</html>