<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Amics Tech Login</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="/javascripts/jquery-2.1.4.min.js"></script>

    <!-- styles -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/stylesheets/hover-min.css" rel="stylesheet" >

    <style>
        /* Strips Link Formatting */
        a {
            color: inherit;
            text-decoration: none;
        }
    </style>

</head>
<body>

<div class="container">
    <!-- Example row of columns -->
    <h1>Lets save some water!</h1>
    <div class="row">
        <div class="col-md-4 hvr-grow" id="menu-dashboard" align="center">
            <a href="main/dashboard">
                <span style="font-size:10.5em" class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                <h2>Dashboard</h2>
            </a>
        </div>
        <div class="col-md-4 hvr-grow" id="menu-leaderboard" align="center">
            <a href="main/leaderboard">
                <span style="font-size:10.5em" class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                <h2>Leaderboard</h2>
            </a>
        </div>
        <div class="col-md-4 hvr-grow" id="menu-challenges" align="center">
            <a href="main/challenges">
                <span style="font-size:10.5em" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <h2>Challenges</h2>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 hvr-grow" id="menu-progress" align="center">
            <a href="main/progress">
                <span style="font-size:10.5em" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <h2>Progress</h2>
            </a>
        </div>
        <div class="col-md-4 hvr-grow" id="menu-help" align="center">
            <a href="main/help">
                <span style="font-size:10.5em" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                <h2>Help</h2>
            </a>
        </div>
        <div class="col-md-4 hvr-grow" id="menu-settings" align="center">
            <a href="main/settings">
                <span style="font-size:10.5em" class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <h2>Settings</h2>
            </a>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 AMICS, Inc.</p>
    </footer>
</div> <!-- /container -->


</body>
</html>